.bicicletas {
  margin-bottom: 120px;
}

#escolha-a-sua {
  color: var(--cor-s1);
  text-transform: lowercase;
  margin-bottom: 40px;
  margin-top: 120px;
}

.bicicletas ul img {
  border-radius: 4px;
}

.bicicletas ul {
  display: flex;
  gap: 40px;
  font-family: "poppins", sans-serif;
}

.container-maior ul h2  {
  font-size: var(--tamanho-m);
  font-weight: 600;
}

.bicicletas ul li:hover .nome-valor {
  padding-left: 8px;
}

.container-maior ul span {
  font-weight: 600;
  color: var(--cor-s5);
  font-size: var(--tamnho-p);
  font-family: "roboto", sans-serif;
}

.nome-valor {
  margin-left: 20px;
  padding-top: 16px;
  color: var(--cor-s1);
  transition: .3s;
  position: relative;

}

.nome-valor::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  left: -20px;
  top: 29px;
  background-color: var(--cor-p1);
  transition: .3s;
  position: absolute;
}


.bicicletas ul li:hover .nome-valor::before {
  content: "";
  display: block;
  width: 20px;
  height: 8px;
  left: -20px;
  top: 29px;
  background-color: var(--cor-p1);
  position: absolute;
}

@media (max-width: 1800px){
.container-maior{
  padding: 0 20px;
}
}

@media (max-width: 1000px){
  #escolha-a-sua {
    margin-left: 60px;
    font-size: 3.5rem
  }
}

@media (max-width: 800px){
.bicicletas ul {
  display: grid;
}
#escolha-a-sua {
margin: 0 60px;
}
}

