#magic .bicicletas-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

#magic .bicicletas-container h2 {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
  text-transform: lowercase;
  color: #000;
}

#magic .bicicletas-lista ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-bottom: 120px;
}

#magic .bicicletas-lista ul li h3 {
  position: relative;
}

#magic .bicicletas-lista ul li h3::after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 12px;
  top: 10px;
  left: -22px;
  background-color: #ffbb00;
  transition: 0.3s;
}

#magic .bicicletas-lista ul li:hover h3::after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 24px;
  top: 10px;
  left: -22px;
  background-color: #ffbb00;
  transition: 0.3s;
}

#magic .bicicletas-lista ul li h3 {
  position: relative;
  transition: 0.3s;
}

#magic .bicicletas-lista ul li:hover h3 {
  padding-left: 12px;
  position: relative;
}

#magic .bicicleta h3,
.bicicleta span {
  margin-left: 22px;
}

#magic .bicicletas-lista ul img {
  border-radius: 4px;
}

#magic .bicicleta a {
  color: #000;
  font-family: "roboto";
  font-size: 1.275rem;
}

#magic .bicicleta a span {
  display: block;
  color: #717171;
  font-family: "roboto";
  margin-top: 5px;
}

@media (max-width: 800px) {
  #magic .bicicletas-lista ul {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  #magic .bicicletas-container h2 {
    font-size: 3rem;
    padding-top: 30px;
    padding-bottom: 15px;
  }
}
