.rodape-bg {
  background-color: #000;
}

.rodape-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rodape-lista-contato h3 {
  font-family: "poppins";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #fff;
}

.rodape-lista-contato ul li a {
  font-family: "roboto";
  font-weight: 500;
  line-height: 2;
  color: #b2b2b2;
}

.rodape-lista-contato ul li a:hover {
  color: #fff;
}

.rodape-lista-contato ul {
  position: relative;
}

.rodape-lista-contato ul::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 300px;
  bottom: -20px;
  background-color: #2e2e2e;
}

.rodape-lista-endereco ul {
  font-family: "roboto";
  font-weight: 500;
  line-height: 2;
  color: #b2b2b2;
  margin-top: 40px;
  margin-bottom: 60px;
  position: relative;
}

.rodape-lista-endereco ul::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 300px;
  bottom: -20px;
  background-color: #2e2e2e;
}

.rodape-lista-redes ul {
  display: flex;
  gap: 40px;
}

.rodape-logo img {
  padding-left: 20px;
  padding-top: 60px;
}

.rodape-lista-informacoes h3 {
  font-family: "poppins";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 60px;
  padding-bottom: 20px;
  color: #fff;
}

.rodape-lista-informacoes ul li a {
  font-family: "roboto";
  font-weight: 500;
  line-height: 2;
  color: #b2b2b2;
}

.rodape-lista-informacoes ul li a:hover {
  color: #fff;
}

@media (max-width: 800px) {
  .rodape-logo img {
    display: none;
  }
  .rodape-container {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
  }
  .rodape-lista-informacoes {
    grid-column: 2;
    grid-row: 1;
  }
  .rodape-lista-localizacao {
    padding-left: 20px;
    grid-row: 1;
  }
}
