#seguros .seguros-bg {
  background: #111 url("/img/dec/top-right.svg") no-repeat top 40px right 20px;
}

#seguros .seguros-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#seguros .seguros-titulo .seguros-subtitulo {
  display: block;
  font-family: "poppins";
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: #b2b2b2;
  padding-left: 20px;
  padding-top: 40px;
}

#seguros .seguros-container h2 {
  margin-top: 10px;
  margin-left: 20px;
  color: #fff;
  text-transform: lowercase;
}

#seguros .seguros-titulo {
  padding-bottom: 30px;
}

#seguros .valor-periodo {
  padding-right: 30px;
}

#seguros #prata {
  grid-column: 1;
  margin-right: 20px;
  margin-left: 20px;
}

#seguros #prata h3 {
  text-transform: uppercase;
  font-family: "poppins";
  font-weight: 600;
  font-size: 2rem;
  color: #b2b2b2;
  padding-left: 60px;
  margin-bottom: 20px;
}

#seguros .seguros-planos-valor {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "poppins";
}

#seguros .seguros-planos-periodo {
  font-family: "poppins";
  color: #b2b2b2;
  text-transform: lowercase;
  font-size: 0.725rem;
  text-align: end;
}

#seguros .seguros-planos-titulo span {
  display: block;
}

#seguros .seguros-planos-titulo {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 20px;
}

#seguros .seguros-planos {
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  margin-bottom: 60px;
}

#seguros .seguros-planos ul {
  font-family: "roboto";
  font-size: 1.275rem;
  padding-left: 60px;
  padding-bottom: 30px;
  line-height: 2;
}

#seguros .seguros-planos ul li {
  position: relative;
}

#seguros .seguros-planos ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 9px;
  top: 15px;
  left: -22px;
  background: url("/img/icones/lista.svg") no-repeat;
}

#seguros .botao-cinza {
  background: #2e2e2e;
  color: #fff;
  padding: 16px 32px;
  font-family: "poppins";
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 60px;
}

#seguros .botao-cinza:hover {
  background: #404040;
  color: #fff;
  padding: 16px 32px;
  font-family: "poppins";
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 60px;
}

#seguros #ouro {
  margin-right: 20px;
  margin-left: 20px;
}
#seguros #ouro h3 {
  text-transform: uppercase;
  font-family: "poppins";
  font-weight: 600;
  font-size: 2rem;
  color: #ffbb00;
  padding-left: 60px;
  margin-bottom: 20px;
}

#seguros #ouro .botao-amarelo {
  display: inline-block;
  margin-left: 60px;
}

#seguros .botao-amarelo,
.botao-cinza {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  #seguros .seguros-bg {
    background: #111 url("/img/dec/top-right.svg") no-repeat top 40px right
      370px;
  }
}
@media (max-width: 800px) {
  #seguros .seguros-container {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    padding-bottom: 80px;
  }
  #seguros .seguros-planos ul {
    padding-bottom: 0;
  }
  #seguros .seguros-container h2 {
    margin-bottom: 30px;
  }
}
