#orcamento .orcamento-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 5fr 7fr;
}

#orcamento main {
  background-color: #111;
}

#orcamento .orcamento-titulo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#orcamento h2 {
  font-size: 0.725rem;
  color: #ccc;
  position: relative;
  display: grid;
  align-items: center;
}

#orcamento h2::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 8px;
  width: 4px;
  background-color: #ffbb00;
  left: -10px;
}

#orcamento .orcamentobg-produtos {
  background: #000;
  color: #ccc;
  padding: 40px;
  border-radius: 4px;
  /* padding: 0 auto; */
}

#orcamento .orcamento-produtos label {
  display: inline-block;
  padding-top: 8px;
  padding: 12px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-color: #2e2e2e;
  color: #ccc;
  font-family: "poppins";
  border-radius: 4px;
  position: relative;
  border: solid 2px #000;
}

#orcamento .orcamento-produtos label::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 12px;
  width: 12px;
  top: 17px;
  left: 12px;
  border-radius: 50%;
  border: solid 1px #ccc;
  box-sizing: border-box;
}

#orcamento .orcamento-produtos input:checked + label::before {
  border-color: #595959;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #595959;
}

#orcamento .orcamento-produtos input:checked + label {
  color: #000;
  background-color: #fff;
  font-weight: 500;
  box-shadow: #ffbb00 1px 1px 1px 2px;
}

#orcamento .orcamento-produtos input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#orcamento .orcamento-bicicletas label {
  display: block;
  padding: 12px 30px;
  margin-top: 10px;
  background-color: #2e2e2e;
  border-radius: 4px;
  font-family: "poppins";
  position: relative;
  border: solid 2px #000;
}

#orcamento .orcamento-bicicletas label::before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 12px;
  width: 12px;
  top: 17px;
  left: 12px;
  border-radius: 50%;
  border: solid 1px #ccc;
  box-sizing: border-box;
}

#orcamento .orcamento-bicicletas input {
  pointer-events: none;
  opacity: 0;
  position: absolute;
}

#orcamento .orcamento-bicicletas input:checked + label::before {
  border-color: #595959;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #595959;
}

#orcamento .orcamento-bicicletas input:checked + label {
  color: #000;
  background-color: #fff;
  font-weight: 500;
  box-shadow: #ffbb00 1px 1px 1px 2px;
}
